<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <appSettings>
    <add key="correo.usuario" value="dfprueba12@gmail.com" />
    <add key="correo.contra" value="Contra1234" />
    <add key="correo.ssl" value="true" />
    <add key="correo.smtp" value="smtp.gmail.com" />
    <add key="correo.puerto" value="25" />


  </appSettings>

</configuration>
